@media screen and (max-width: 1000px) {
    .search-bar {
        border-radius: 0;
        background-color: white;
        width: 0;
    }
    .search-bar input {
        display: none;
    }
    .note-taker input {
        padding: 10px 0;
    }
    .note-taker .actions {
        display: none;
    }
}